
*{
    margin:0;
    padding:0;
}

body{
    background-color: #FFFFFF;
   
}
.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}



nav {
    
    display: flex;
    justify-content: space-between;

}
.menue { 

    list-style: none;
    display: flex;
    gap:51px;
    align-items: center;
   
}