
{
    margin:0;
    padding:0;
}

body{
    background-color: #FFFFFF;
   
}
.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #374151;
}

.logo {
    font-weight: bold;
    font-size: 16px;
}


.btn {
    background: #469165;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    align-items: center;
    display: inline-flex;
    gap: 8px;

}

.btn2 {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    gap: 8px;
}


.hero {

    text-align: center;
    padding: 100px 20px;
    background: url(assets/hero-bg.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 72px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #469165;
}

.para {
    max-width: 700px;
    margin: 0 auto 30px;
    color: #cbd5f5;
}

.top-note {
    display: inline-block;
    background: #ffffff;
    color: #469165;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;
    display: inline-flex;
    gap: 8px;
}
.hero-buttons {
    display: inline-flex;
    align-items: center;
    gap: 16px;
