
*{
    margin:0;
    padding:0;
}

body{
    background-color: #FFFFFF;
   
}
.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}



nav {
    
    display: flex;
    justify-content: space-between;

}
.menue { 

    list-style: none;
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
  
}
.menue a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    
}

#h-logo {
    margin-left: 120px;
    margin-top:16px;
    margin-bottom:16px;
}

.btn{
    background-color: #2563EB;
    border:none;
    font-weight: bold;
   margin-left:346px;
   margin-right: 120px;
   padding: 12.5px 16px;
    border-radius: 4px;
   color: white;
    cursor:pointer;
    background-color:#30B868;
}

#banner {
    
    
}

#banner-image{
    
}