
{
    margin:0;
    padding:0;
}

body{
    background-color: #FFFFFF;
   
}
.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #374151;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

/* BUTTONS */
.btn {
    background: #469165;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    align-items: center;
    display: inline-flex;
    gap: 8px;

}